<div class="container mt-4">
  <div class="row">
    <div #mainDiv class="col-lg-12 d-flex align-items-end" style="height: 60vh">
    
      <app-display-number  
        #graph      
        *ngFor="let number of array; let index = index"
        [number]="number"
        [index]="index"
        [maxHeight]="maxHeight"
        [maxWidth]="maxWidth"
        [arrayLength]="arrayLength"
        [active]="index === highlightItemOne || index === highlightItemTwo">
      </app-display-number>

    </div>   
  </div>
  <div class="row">
    <div class="col-lg-3 mt-4">
      <button 
        [disabled]="sorted"
        class="btn btn-info btn-lg"
        (click)="sortNumbers()">
        {{ sorting ? 'Stop' : 'Sort' }}
      </button>
      <button 
        class="btn btn-info btn-lg ml-2"
        (click)="shuffle()"
        [disabled]="sorting">Shuffle
      </button>    
    </div>  
    <div class="col-lg-3 mt-4 form-inline">
      <label for="delay"><strong>Delay:</strong></label>
      <input 
        #delayInput
        [disabled]="sorting" 
        name="delay" class="form-control ml-2" 
        type="number"
        min="1"
        max="10000">
    </div>  
    <div class="col-lg-4 mt-4 form-inline">
        <label for="arraySize"><strong>Array size:</strong></label>
        <input 
          #arraySizeInput
          [disabled]="sorting" 
          name="arraySize" 
          class="form-control ml-2" 
          type="number"
          min="10"
          max="300">
      </div>  
  </div>
  <h4 class="mt-3">Iterations: {{ iterations }}</h4>  
</div>